<html>

<head>
    <title>Router Simulation</title>
    <script type="text/javascript" src="./scripts/jquery.js"></script>
    <script type="text/javascript" src="./scripts/two.js"></script>
    <script type="text/javascript" src="./scripts/graphics.js"></script>
    <script type="text/javascript" src="./scripts/gui.js"></script>
    <script type="text/javascript" src="./scripts/testing.js"></script>
    <link rel="stylesheet" href="./css/style.css"></link>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css" >
    <script src="bootstrap/js/bootstrap.js" ></script>
</head>

<body>
    <div>
        <h1>Simulation <%= email %></h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <input id="save-name" placeholder = "Save/Load"></input>        
        <button onclick="save()">Save</button>
        <button onclick="load()">Load</button>
    </div>
    <div>
        <button onclick="reset()">Reset</button>
        <button onclick="togglePause()">Toggle Pause</button>
        <button onclick="loadScene('static')">Static Scene</button>
        <button onclick="loadScene('ten_cars')">Ten Cars</button>
    </div>
    <div>
        <button onclick="toggleAddCarMode()">Toggle Add Car Mode</button>
        <button onclick="toggleRemoveCarMode()">Toggle Remove Car Mode</button>
        </br>
        <button onclick="toggleAddWaypointMode()">Toggle Add Waypoint Mode</button>
        <button onclick="toggleRemoveWaypointMode()">Toggle Remove Waypoint Mode</button>
    </div>
<div id="main-canvas"></div>
<div id='graph-holder'>Loading</div>
<div id='routes-holder'>Loading</div>
</body>

</html>